@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cursor-none {
    cursor: none;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  cursor: none;
}
